/* -----------------------
   ISLAMIC HOME UI
------------------------ */

.home-wrapper {
  width: 100%;
  padding: 30px 0;
  
  min-height: 20vh;
  display: flex;
  justify-content: center;
}

/* EMPTY MESSAGE */
.empty-msg {
  text-align: center;
  color: #fff;
}

.empty-msg h1 {
  font-size: 26px;
  padding: 20px;
background: rgba(255, 255, 255, 0.15);
  display: inline-block;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.12);
}

/* POST GRID */
.post-grid {
  width: 95%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

/* EACH BOX */
.post-box {
  background: rgba(255, 255, 255, 0.12);
  padding: 12px;
  border-radius: 14px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
}


/* -------------------------
     RESPONSIVE
-------------------------- */

@media (max-width: 1024px) {
  .post-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .post-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .empty-msg h1 {
    font-size: 20px;
    padding: 15px;
  }
}